html {
  font-size: 20px;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
  background-color: rgb(255, 255, 255, 0.5);
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  position: fixed;
  z-index: 100;
}
.header-in {
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
